<div id="footer-wrapper">
  <div id="footer">
    <div class="footer-parent-block">
      <div class="footer-blocks footer-languages">
        <h4 class="footer-block-header">Languages</h4>
        <ul id="footer-languages" class="box">
          <li class="row">
            <form action="/i18n/setlang/" method="post" class="lang-form">
              <input type="hidden" name="language" value="en" />
              <input name="next" type="hidden" value="https://something.com/" />
              <input class="text-button" type="submit" value="English" />
            </form>
          </li>
          <li class="row">
            <a href="/en/" class="footer-links">Englishة</a>
          </li>
        </ul>
      </div>
      <div class="footer-blocks footer-support">
        <h4 class="footer-block-header">Support</h4>
        <ul id="footer-support" class="box">
          <li class="row"><a class="footer-links" href="/help/">Help</a></li>
          <li class="row"><a class="footer-links" href="/contact/">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-blocks footer-getsocial">
        <h4 class="footer-block-header">Get Social</h4>
        <ul id="footer-social" class="box">
          <li class="row"><a class="footer-links" target="_blank" href="#">Facebook</a></li>
          <li class="row"><a class="footer-links" target="_blank" href="#">Twitter</a></li>
          <li class="row"><a class="footer-links" target="_blank" href="#">Youtube</a></li>
          <li class="row"><a class="footer-links" target="_blank" href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="footer-blocks footer-company">
      <h4 class="footer-block-header">Company</h4>
      <ul id="footer-company" class="box">
        <li class="row"><a class="footer-links" href="/about/">About Us</a></li>
        <li class="row"><a class="footer-links" href="/advertising/">Advertising</a></li>
        <li class="row"><a class="footer-links" href="/terms/">Terms of Use</a></li>
        <li class="row"><a class="footer-links" href="/privacy/">Privacy Policy</a></li>
      </ul>
    </div>
    </div>

    <div id="copyright">
      <div class="footer__logo">
      </div>
      <span class="copyright-msg">&copy; Regensburg.com 2017, All Rights Reserved.</span>
    </div>
  </div>
</div>