<div class="Homepage__card">
  <h2 class="Homepage__card__title"><span class="red">All</span> Ads</h2>
  <% if @all_ads.present? %>
    <% @all_ads.to_a.in_groups_of(6) do |ad_array| %>
      <div class="Trending__container cf">
        <% ad_array.compact.each do |ad| %>
          <a href="/search/?keywords=%23starwars" class="Trending__block">
            <div class="Trending__icon">
              <%= image_tag (ad.main_image.present? ? ad.main_image.avatar.url(:thumb) : ""),:alt => "No Image" ,:style => "width: 28%" %> 
            </div>
            <div class="Trending__tag"><%= ad.title %></div>
          </a>
        <% end %>      
      </div>
    <% end %>
  <% else %>
    <center>No Ad Found</center>
  <% end %>  
</div>
<br>
<% if @all_ads.present? %>
  <div align="right">
    <%= will_paginate @all_ads %>
  </div>
<% end %>
    