<p>Hi <%= @user.first_name %>!,</p>

<p>You have received a Reply for you Ad:</p>

<p>Below are the Details.</p>
<p>Email: <%= @ad_reply.email %></p>
<p>Mobile No: <%= @ad_reply.phone_number %></p>
<p>Message: <%= @ad_reply.message %></p>

<p>Thanks,</p>
<p>Regensburg Team</p>