<!DOCTYPE html>
    <head>
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



        
            <meta name="robots" content="index, follow" />
        

             <meta name="user_metadata_hash" value="" />

        
            <link rel="image_src" href="http://regensburgweb.com/images/screenshot.png" />


        <meta name="application-name" content="Regensburgweb.com" />

        
        

        
            
                
                    <title>Regensburg Web Classifieds - Ad Title</title>
                
            
        

        
            
                
                    <meta name="description" content="regensburg web is your leading free classifieds website in Regensburg to buy, sell and find anything. Find a properties, cars, jobs, or items for sale in Regensburg." />
                
            
        
<!-- 1. Link to jQuery (1.8 or later), -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> <!-- 33 KB -->


<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->

        

        

        
<link rel="stylesheet" href="css/base.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/legacy.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/main.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/reports.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/car-report.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/vertical_homepages.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/fotorama.css" type="text/css" charset="utf-8" />

<link rel="stylesheet" href="css/print.css" type="text/css" charset="utf-8" />
<link rel="stylesheet" href="css/main-6b3dc72e37.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  
        <link rel="alternate" media="only screen and (max-width: 640px)" href="/m/" />
    </head>

    <body
        id="dbz-body"
        style="
            
            
        "
        class="
            country-uae
            site-dubai
            index-p
            logged-out
            lang-en
        ">
        
        <div id="fb-root" style="overflow:hidden"></div>
        <div id="gtrans-root" style="overflow:hidden"></div>

        <div id="page-wrapper"  >
            

            <div id="help-slider" style="display:none"></div>
            <div id="signin" style="display:none">
                <div id="signin-content">
                    <div class="group" id="signin-text">
                        <h2>Sign In</h2>
                        <a class="close">&nbsp;</a>
                        <p><a href="/accounts/register/">or Register</a></p>
                    </div>
     
     
                    <img class="sep-img" src="images/slideDown_separator.jpg" />
                    <div class="group" id="signin-form">
                        <form method="post" action="/accounts/login/?next=/">
                            <div><label for="email">Email Address:</label><input id="email" type="email" name="username" /></div>
                            <div>
                                <label for="password">Password:</label>
                                <input id="password" type="password" name="password" />
                                <a id="forgot-password" href="/accounts/password/reset/">Forgot Password?</a>
                            </div>
                            <input type="hidden" name="next" value=""/>
                            <input id="signin-button" type="submit" value="Sign In" alt="Sign In" title="Sign In" />
                        </form>
                    </div>
                </div>
            </div>
            
            <div id="header">
                <div class="header-top-bar">

                    <div class="header-top-bar__left">
                        <div id="logo">
                            <a href="index.html">
                                
                                    <img src="images/regensburg-logo.png" alt='regensburg.com' />
                                
                            </a>
                        </div>
                        
      
      
                        
                    </div>

                    <div class="header-top-bar__right">
                        <div id="parent-user-control">
                          
<ul id="user-controls">
	
		<li class="fbsignin"></li>
		<li><a id="sign-in-trigger" href="signin.html">Sign In</a></li>
		<li><a href="register.html">Register</a></li>
	
</ul><!-- end user-controls -->





                        </div>
                        

 
                        
                        <div id="callouts">
                            <ul>
                                <li id="place-an-ad">
                                    <a id="place_an_ad_callout_en" href="/place-an-ad/user/login/" class="awesome red">
                                       <i class="material-icons">add</i> Place Your Ad
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>

            <!--Nav Starts-->
            
            <!-- nav starts -->           
            <div id="nav">
                <ul class="nav-container">
                    <li class="nav-container-main">
                        
                        <ul id="navbar-id" class="navbar">
                            <li class="parent more" id="nav-motors">


											<a href='/motors/' title=""><span class="more">Motors</span></a>

														<ul id="nav-categories-list-container" class='navbar-inner '>
		
																		<li class='nav-inner-content'>
																							<ul class='nav-col-list'>
					
						
																									<li><a href='/motors/used-cars/'>Used Cars for Sale <strong> 16004</strong></a></li>
						
                        					
																									<li><a href='/motors/auto-accessories-parts/'>Auto Accessories &amp; Parts <strong> 1365</strong></a></li>
						
	
    	
					
																								</ul>
																		</li>
		
        
        
														</ul>
							</li>
                            <li class="parent more" id="nav-classified">


<a href='/classified/' title=""><span class="more">Classifieds</span></a>

<ul id="nav-categories-list-container" class='navbar-inner '>
		
			<li class='nav-inner-content'>
				<ul class='nav-col-list'>
					
						
							


							<li><a href='/classified/cameras-imaging/'>Cameras &amp; Imaging <strong> 1400</strong></a></li>

							<li><a href='/classified/electronics/'>Electronics <strong> 2800</strong></a></li>
											
							<li><a href='/classified/free-stuff/'>Free Stuff <strong> 139</strong></a></li>
						
					
				</ul>
			</li>
		
	
         
</ul>
</li>
 
 
                            
                        </ul>
                        
                    </li>
                </ul>
            </div>
            
            <!-- end nav-->
            
            </div>
            
            <div id="container" class="">

               
                <div id="content-wrapper">
                    
<div class="Homepage">

<div class="Hero__container2">

    <!--main search box starts -->
    
    <div class="Searchbox__container">

        <div v-show="currentCategory != '--'" class="Searchbox__basic__search">
            







<div id="search-widget" v-cloak>
    <form method="get" id="search-widget-form">
        <div id="search-content">

            <div id="keywords">
                
                    <span id="clear-basic-keywords" style="display:none;" class="clear-link">
                        clear
                    </span>
                
                <input id="id_keywords" type="text" name="keywords" value="" class="text-field" />
                

            </div>
            <input type='hidden' name='is_search' value='1'/>
            <input type="submit" value="Search" id="search-button" class="lite-blue awesome" />

            
            
        </div>

    </form>
</div> 



        </div>
        <!-- search block starts -->
        



        <div class="Searchbox__bottom">
        <select id="" name="subcat" class="Searchbox__keyword__input" style="width: 285px; height: 25px;" >
					
						<option value="--">All</option>
                        <option value="UC">Used Cars</option>
						<option value="CL">Accessories</option>


		</select>
        <select id="" name="motor_make" class="Searchbox__keyword__input" style="width: 285px; height: 25px;" >
					
						<option value="--">All</option>
                        <option value="01">Honda</option>
						<option value="02">Toyota</option>
                        <option value="03">Jeep</option>
                        <option value="03">Land Rover</option>
                        


		</select>
        <select id="" name="motor_year" class="Searchbox__keyword__input" style="width: 100px; height: 25px;" >
					
						<option value="--">Year</option>
                        <option value="2014">2014</option>
						<option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        


		</select>
        
        
        <br><br>
        
            <input type="text" class="Searchbox__keyword__input" placeholder="Enter keywords" >
           <input type="submit" class="Searchbox__search__button" value="Search">
        </div>
        <!-- search block ends -->
        
    </div>
    
    <!--Main Search Ends-->
    
    
    
</div>

<!--  Ads details Starts-->

<div class="Homepage__card">
    <h3><span class="red">Motors >> Used Cars</h3>
    <div class="Trending__container cf">
        
    <!--Detail starts-->    
            
     <div id="photos">

                


<span id="watch-this" class="classified-detail-buttons" align="right">
    
        <span id="c_id_13561955:c_type_200:watch_this">
            <a href="/watchlist/motors/used-cars/13561955/1/" id="watch_this_logged">
            <div style="font-size: 24px; line-height: 1.5em;"><i class="fa fa-fw fa-star-o"></i></div></a></span>
    
</span>
<h2 class="Homepage__card__title"><span class="red">Ad Title 2016 Mercedes Benz G63 AMG 436 Edition</h2>
                <div class="fotorama" data-nav="thumbs" align="center">
 
                   
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/2628f989fae4ce628118c3a1ef91959a3bd4ddbd/main.jpeg">
                    
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/e03a74ac564b932153add5fe882ff349881f01df/main.jpeg">
                    
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/02a3aab6637ae002fd301acd2c3fe9588fd0e796/main.jpeg">
                    
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/23ed4876aa6a14b31ec986b3f2c1fcf749f52221/main.jpeg">
                    
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/0f68588b36142884a2f6fc243bdc9b7e40a85bde/main.jpeg">
                    
                        <img src="https://e0415552026373f497aa-79445249ccb41a60f7b99c8ef6df8604.ssl.cf3.rackcdn.com/4_async_wmarker/2017/7/29/c8ae2a3634ee5161d6b7085c7b1036304da57475/main.jpeg">
                    

                    
                </div>
            </div>       
            
    <br>
    
    <!--Text detail starts-->        
        <div align="center">
  <h2 class="Homepage__card__title"><span class="red">Price: € 5198.00</h2>   
  <div class="posted-on">Posted on: 3rd August 2017</div>
  <div class="posted-on">Contact Info: Phone No</div> 
  <div class="posted-on">GPS Coordinates: ###</div> 
  
        <br><br>
        <table width="70%" border="1" bordercolor="#FcFcFc">
        <tr>
        <td>Label</td><td>Data</td><td>Label</td><td>Data</td>
        </tr>
        <tr>
        <td>Label</td><td>Data</td><td>Label</td><td>Data</td>
        </tr>
        <tr>
        <td>Label</td><td>Data</td><td>Label</td><td>Data</td>
        </tr>
        
        </table>
        <br>
       <h2 class="Homepage__card__title"><span class="black">Description</h2>   
        This is the description of the ad .....
        </div> 
        
     <!--Text Detail Ends-->   
        
        
    <!--Detail Ends-->    
        
    </div>
</div>
<!--  Ads details Ends-->


<br><br><br>

<!-- Comments Starts-->
<h3 class="listing-details-header">
            
                Reply to this Ad:
            
        </h3>
<div class="Homepage__card" style="background-color:#F4F4F4">
    
    <br>
    <div class="Trending__container cf">
        
  <div id="respond">
        

       <center>

            <form method="post" enctype="multipart/form-data" action="" id="contact-form">
            <table width="60%">    
                <tr>
       				 <td>Your Email</td><td><input class="textbox" id="id_email" name="email" type="text"></td>
        		</tr>
        		<tr>
        			<td>Phone No:</td><td><input class="textbox" id="phone" name="phone" type="text"></td>
        		</tr>
        		<tr>
        			<td>Message</td><td><textarea cols="40" id="id_message" name="message" rows="10"></textarea></td>
        		</tr>
                
                <tr>
                <td></td>
        			<td>
                    
                    <div id="captcha">
                            <div class="captcha-box">
                                <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
<script type="text/javascript">
    var DjangoRecaptchaOptions = {
  "lang": "en", 
  "theme": "clean"
};
    if (typeof RecaptchaOptions !== 'object') {
        RecaptchaOptions = DjangoRecaptchaOptions;
    } else {
        for (key in DjangoRecaptchaOptions) {
            RecaptchaOptions[key] = DjangoRecaptchaOptions[key];
        }
    }
</script>
<div class="g-recaptcha" data-sitekey="###"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6Lc8XRsTAAAAAIPcpA7H-T35OfJyNqCrPtTSR0Qo&amp;co=aHR0cHM6Ly9kdWJhaS5kdWJpenpsZS5jb206NDQz&amp;hl=en&amp;v=r20170731114946&amp;size=normal&amp;cb=axahcocv8fj" title="recaptcha widget" width="304" height="78" frameborder="0" scrolling="no" sandbox="allow-forms  allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>




                            </div>
                            
                        </div>
                    
                    </td>
        		</tr>
        
        	</table>
                
   
                                    By clicking on 'Send Reply', I agree to the Regensburg
                                    <a href="/terms/">Terms &amp; Conditions</a>
                                    and
                                    <a href="/privacy/">Privacy Policy</a>
                                
                                             
                
               

                    
                        
            <button type="submit" class="large blue awesome dark-red-outline-hover">
                            Send reply
                        </button>        

                    
   
         
        
        
        
        
        
        </form>
    </center>    
        <br>
</div>
    
       
    
</div>        
        
        
        
        
    </div>
    
       
    
</div>
<br>

<!-- Comments End-->




<div class="Homepage__card Homepage__marketing">
        
<!--Ads -->

</div>



<div class="Category__dump" style="display: none;">
    
    
</div>

</div> 

                    
                </div>
            </div>
            
            <div class="footer-wrapper-parent">
                <div id="footer-wrapper">
                    <div id="footer">
                        <div class="footer-parent-block">
                            <div class="footer-blocks footer-languages">
                                <h4 class="footer-block-header">Languages</h4>
                                <ul id="footer-languages" class="box">
                                    <li class="row">
                                        <form action="/i18n/setlang/" method="post" class="lang-form">
                                            <input type="hidden" name="language" value="en" />
                                            <input
                                                name="next"
                                                type="hidden"
                                                value="https://something.com/"
                                            />
                                            <input class="text-button" type="submit" value="English" />
                                        </form>
                                    </li>
                                    <li class="row">
                                        <a href="/en/" class="footer-links">Englishة</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-blocks footer-support">
                                <h4 class="footer-block-header">Support</h4>
                                <ul id="footer-support" class="box">
                                    <li class="row"><a class="footer-links" href="/help/">Help</a></li>
                                    <li class="row"><a class="footer-links" href="/contact/">Contact Us</a></li>
                                </ul>
                            </div>
                            <div class="footer-blocks footer-getsocial">
                                <h4 class="footer-block-header">Get Social</h4>
                                <ul id="footer-social" class="box">
                                    <li class="row"><a class="footer-links" target="_blank" href="#">Facebook</a></li>
                                    <li class="row"><a class="footer-links" target="_blank" href="#">Twitter</a></li>
                                    <li class="row"><a class="footer-links" target="_blank" href="#">Youtube</a></li>
                                    <li class="row"><a class="footer-links" target="_blank" href="#">Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-blocks footer-company">
                            <h4 class="footer-block-header">Company</h4>
                            <ul id="footer-company" class="box">
                                <li class="row"><a class="footer-links" href="/about/">About Us</a></li>
                                <li class="row"><a class="footer-links" href="/advertising/">Advertising</a></li>
                                <li class="row"><a class="footer-links" href="/terms/">Terms of Use</a></li>
                                <li class="row"><a class="footer-links" href="/privacy/">Privacy Policy</a></li>
                                
                                   
                                   
                                
                            </ul>
                        </div>
                        
                            <div class="footer-blocks footer-cities-block footer-cities-uae">
                                <h4 class="footer-block-header current-country-site-name">
                                    
                                        UAE
                                    
                                </h4>
                                <ul id="footer-uae-cities" class="box footer-uae-cities">
                                    <li class="footer-uae-cities-row row">
                                        <ul class="footer-cities">
                                            
                                                <li class="row">
                                                    <a
                                                        class="footer-links"
                                                        href="#"
                                                    >
                                                        Area 1
                                                    </a>
                                                </li>
                                            
                                                <li class="row">
                                                    <a
                                                        class="footer-links"
                                                        href="#"
                                                    >
                                                        Area 2
                                                    </a>
                                                </li>
                                            
                                                <li class="row">
                                                    <a
                                                        class="footer-links"
                                                        href="#"
                                                    >
                                                        Area 3
                                                    </a>
                                                </li>
                                            
                                                <li class="row">
                                                    <a
                                                        class="footer-links"
                                                        href="#"
                                                    >
                                                        Area 4
                                                    </a>
                                                </li>
                                            
                                                <li class="row">
                                                    <a
                                                        class="footer-links"
                                                        href="#"
                                                    >
                                                        Area 5
                                                    </a>
                                                </li>
                                            
                                                
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer-blocks footer-countries">
                                <h4 class="footer-block-header">Other Countries</h4>
                                <ul id="footer-countries-list" class="box footer-countries-list">
    <li class="footer-countries-list-row row">
        <ul class="footer-countries-list-row-ul">
            
                <li class="row"><a class="footer-links" href="#">City 1</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 2</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 3</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 4</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 5</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 6</a></li>
            
                <li class="row"><a class="footer-links" href="#">City 7</a></li>
            
        </ul>
    </li>
</ul>

                            </div>
                        
                        <div id="copyright">
                            <div class="footer__logo">
                                
                                 
                                
                            </div>
                            <span class="copyright-msg">&copy; Regensburg.com 2017, All Rights Reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>




        
 



 
 


        

<div id="nearby-modal"  style="display:none;">
    <div class="nearby-inner-wrapper">
        <div class="nearby-header">
            <h1 class="align-center">We need your location to show you nearby items.</h1>
        </div>

        <div class="nearby-body">
            <h3 class="align-center">Automatically get your location
            <button class="get-location-btn btn-primary btn btn-primary">Get it</button></h3>
        </div>

          <div class="nearby-body">
            <div class="nearby-or-separator">
                <h3 class="align-center"><span>OR</span></h3>
                <hr>
            </div>
        </div>

        <div class="nearby-body">
            <h4 class="align-center">Select Location on Map</h4>
        </div>
        <div class="nearby-body nearby-map">
        </div>
        <div class="align-center nearby-body">
            <a href="/nearby/" class="btn btn-secondary">Confirm</a>
        </div>

        <div class="nearby-body">
            <div class="nearby-or-separator">
                <h3 class="align-center"><span>OR</span></h3>
                <hr>
            </div>
        </div>

        <div class="nearby-body align-center">
            <div class="nearby-body">
                <h4 class="align-center">Select Neighborhood</h4>
            </div>
            <input type="text" name="txt-neighborhood" class="txt-neighborhood" placeholder="Neighborhood">
            <a href="/nearby/" class="btn-primary btn btn-secondary">Confirm</a>
        </div>
    </div>
</div>




        
    
	







        

        

    

        

    



        
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert/1.1.3/sweetalert.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.5.0/css/font-awesome.min.css">







        <div id="dfp-onebyone">

        </div>
        <!--[if IE 6]><div id="browser" class="ie6">&nbsp;</div><![endif]-->
        <!--[if IE 7]><div id="browser" class="ie7">&nbsp;</div><![endif]-->
        <!--[if IE 8]><div id="browser" class="ie8">&nbsp;</div><![endif]-->
        <!--[if IE 9]><div id="browser" class="ie9">&nbsp;</div><![endif]-->

        
            
        
        
        

        

        
    </body>
</html>